<link rel="stylesheet" href="/web/css/estilos.css">
<header>
    
      <nav class="navbar">
        <div class="navbar-container">
          
          <a class="logo" href="/">
            <img src="/web/media/images/Lele06.png" alt="" >
          </a>
          
          <ul class="nav-links">
            <li><a href="/">Inicio</a></li>
            <li><a href="/productos">Productos</a></li>
            <li><a href="/carrito">Carrito</a></li>
            <li><a href="/login">Iniciar sesión</a></li>
            <li><a href="/quienessomos">¿Quienes Somos?</a></li>
          </ul>
        </div>
      </nav>
  </header>
  