<!DOCTYPE html>
<html>
<head>
  <title>Tienda en línea - Productos</title>
  <link rel="stylesheet" href="/web/css/estilos.css">
  
  
</head>
<body>
  <%- include('../vistas/templates/encabezado') %>
  <section class="catalogo">
    <h2>Catálogo de productos</h2>
    <div class="productos">
      <div class="producto">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTDzSoKVcuFuXL8G9alBRCgADL5CYxgPs7W0vu0tZy1JBEuQ2bt81rcfmwZ__IzpRYM8Zo&usqp=CAU" alt="" width="10">
        <h3>Producto 1</h3>
        <p>$199</p>
      </div>
      <div class="producto">
        <img src="https://promoturqueretaro.com.mx/wp-content/uploads/2018/07/Mu%C3%B1equitas-artesanales-queretanas.jpg" alt="">
        <h3>Producto 2</h3>
        <p>$299</p>
      </div>
      <div class="producto">
        <img src="https://www.eluniversalqueretaro.mx/resizer/MZJw6g5FukszQ42sPAVjGMtnSxU=/1100x666/cloudfront-us-east-1.images.arcpublishing.com/eluniversal/XRY4NQ4VVZFXRHIHB6BP76MMII.jpg" alt="">
        <h3>Producto 3</h3>
        <p>$299</p>
      </div>
      <div class="producto">
        <img src="https://casaqueretanaartesanias.gob.mx/storage/2023/03/Artesania-Bombonera-Mandala.webp" alt="">
        <h3>Producto 4</h3>
        <p>$299</p>
      </div>
      <div class="producto">
        <img src="https://http2.mlstatic.com/D_NQ_NP_979736-MLM50600121498_072022-O.webp" alt="">
        <h3>Producto 5</h3>
        <p>$299</p>
      </div>


      <div class="producto">
        <img src="https://proyectoambiente.webcindario.com/queretaro11.jpg" alt=" 15">
        <h3>Producto 6</h3>
        <p>$199</p>
      </div>
    </div>
  </section>
</body>

<%- include('../vistas/templates/pie') %>
</html>
