<%- include('../vistas/templates/encabezado') %>
  <title>¿Quiénes somos?</title>
  <link rel="stylesheet" href="estilos.css">
  
  <section class="quienes-somos">
    <h2>¿Quiénes somos?</h2>
    <p>
      En nuestra tienda en línea, nos dedicamos a ayudara los artesanos a vender sus productos de manera sencilla y eficiente. Creemos en el valor de las habilidades artesanales y queremos brindarles una plataforma para mostrar y comercializar sus creaciones.
    </p>
    <p>
      Nuestro objetivo es crear un espacio en línea donde los artesanos puedan exhibir sus productos únicos y conectarse directamente con los clientes interesados. Ofrecemos una amplia variedad de categorías de productos, desde joyería hasta decoración del hogar, ropa, arte y mucho más.
    </p>
    <p>
      Si eres un artesano y estás interesado en vender tus productos a través de nuestra tienda en línea, no dudes en ponerte en contacto con nosotros. Estamos comprometidos en apoyar y promover el trabajo de los artesanos y esperamos trabajar contigo para mostrar tus creaciones al mundo.
    </p>
  </section>

  <img src="" alt="">
  <%- include('../vistas/templates/pie') %>
  
